apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: podinfo-frontend
spec:
  rules:
    - host: podinfo-preq.javiermatias.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
